In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("salaries.csv")

In [3]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Analyst,142000,USD,142000,US,0,US,M
1,2025,MI,FT,Analyst,87000,USD,87000,US,0,US,M
2,2025,SE,FT,Data Quality Lead,218700,USD,218700,US,0,US,M
3,2025,SE,FT,Data Quality Lead,163200,USD,163200,US,0,US,M
4,2025,MI,FT,Data Quality Specialist,121524,USD,121524,US,0,US,M

In [4]:
df.tail()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
146343,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
146344,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
146345,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
146346,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
146347,2021,SE,FT,Data Scientist,7000000,INR,94665,IN,50,IN,L

In [5]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  146348.000000  1.463480e+05  146348.000000  146348.000000
mean     2024.415646  1.629267e+05  157485.290691      20.901550
std         0.674981  2.106091e+05   74134.134223      40.591728
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060000e+05  106000.000000       0.000000
50%      2025.000000  1.470000e+05  146100.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146348 entries, 0 to 146347
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           146348 non-null  int64
 1   experience_level    146348 non-null  object
 2   employment_type     146348 non-null  object
 3   job_title           146348 non-null  object
 4   salary              146348 non-null  int64
 5   salary_currency     146348 non-null  object
 6   salary_in_usd       146348 non-null  int64
 7   employee_residence  146348 non-null  object
 8   remote_ratio        146348 non-null  int64
 9   company_location    146348 non-null  object
 10  company_size        146348 non-null  object
dtypes: int64(4), object(7)
memory usage: 12.3+ MB

In [7]:
df['remote_ratio'].unique()

array([  0, 100,  50], dtype=int64)

In [8]:
df['work_year'].unique()

array([2025, 2024, 2023, 2022, 2020, 2021], dtype=int64)

In [9]:
df['experience_level'].unique()

array(['MI', 'SE', 'EX', 'EN'], dtype=object)

In [10]:
df['employment_type'].unique()

array(['FT', 'CT', 'PT', 'FL'], dtype=object)

In [11]:
df['job_title'].unique()

array(['Analyst', 'Data Quality Lead', 'Data Quality Specialist',
       'Data Modeler', 'Software Engineer', 'Machine Learning Engineer',
       'Manager', 'Developer', 'Engineer', 'Head of Data', 'Director',
       'Data Scientist', 'Data Developer', 'Research Scientist',
       'Product Owner', 'Data Analyst', 'Data Engineer', 'AI Engineer',
       'Architect', 'Data Architect', 'Economist',
       'Software Development Engineer', 'Product Manager',
       'Solutions Architect', 'Backend Engineer', 'DevOps Engineer',
       'Systems Engineer', 'Consultant', 'Research Assistant',
       'Solutions Engineer', 'Researcher', 'Analytics Manager',
       'Engineering Manager', 'Solution Engineer', 'Research Specialist',
       'Lead Engineer', 'Applied Scientist', 'Data Operations',
       'Solution Architect', 'Business Intelligence Engineer',
       'SAS Developer', 'Data Governance Manager',
       'Business Intelligence Lead', 'Software Developer',
       'System Engineer', 'Staff Engineer', 'Principal Engineer',
       'Data Integration Lead', 'Data Governance', 'Data Manager',
       'Data Management', 'Data Management Lead', 'Application Developer',
       'Analytics Lead', 'Tech Lead', 'Associate', 'Full Stack Developer',
       'AI Solution Director', 'Analytics Engineer',
       'Data Management Specialist', 'Cdd', 'Data Analytics Manager',
       'Postdoctoral Researcher', 'Business Analyst',
       'Machine Learning Developer', 'Data Quality Engineer',
       'Data Integration Engineer', 'Data Specialist',
       'Research Associate', 'Technical Lead', 'Quantitative Analyst',
       'Data Infrastructure Engineer', 'Data Strategist',
       'Member of Technical Staff', 'Research Engineer',
       'Automation Engineer', 'BI Engineer', 'Product Designer',
       'Data Analysis', 'BI Analyst', 'Platform Engineer',
       'Technical Recruiter', 'Business Intelligence Analyst',
       'Cloud Engineer', 'ML Scientist', 'Data Visualization Developer',
       'Psychometrician', 'Forward Deployed Engineer', 'Content Writer',
       'Statistician', 'Executive', 'Business Intelligence Developer',
       'Statistical Programmer', 'Data Lead', 'Data Visualization Expert',
       'Data Management Analyst', 'Technical Architect',
       'Machine Learning Researcher', 'Actuary',
       'Machine Learning Scientist', 'Data Analytics Lead',
       'Data and Reporting Professional', 'Data Visualization Specialist',
       'Data Platform Engineer', 'Post Doctoral Fellow',
       'Prompt Engineer', 'AI Developer', 'Advanced Analytics Manager',
       'Data Governance Analyst', 'Data Product Owner',
       'Data Operations Specialist', 'Power BI Developer', 'BI Developer',
       'AI Researcher', 'Principal Scientist', 'Software Architect',
       'Account Executive', 'Algorithm Developer', 'Power BI Specialist',
       'Bioinformatician', 'AI Lead', 'Insight Analyst',
       'Research Fellow', 'Encounter Data Management Professional',
       'Head of AI', 'Solution Specialist', 'Site Reliability Engineer',
       'Data Analist', 'Technical Support Engineer',
       'Business Development Representative', 'Data Analytics Specialist',
       'AI Architect', 'Java Developer', 'Data Product Manager',
       'Trainee', 'Sales Engineer', 'Head of Marketing',
       'Data Integrity Specialist', 'Analytics Specialist',
       'Data Governance Lead', 'MLOps Engineer', 'Decision Scientist',
       'Data Quality Analyst', 'Data Steward', 'AI Scientist',
       'AI Solutions Lead', 'AI Specialist', 'Full Stack Engineer',
       'Product Analyst', 'Research Professional',
       'Director of Machine Learning', 'Computer Vision Engineer',
       'Data Strategy Lead', 'Technical Consultant',
       'Data Management Officer', 'Postdoctoral Fellow',
       'Artificial Intelligence Engineer', 'Principal Researcher',
       'Director of Product Management', 'ETL Developer',
       'Postdoctoral Scholar', 'Computational Biologist',
       'Product Specialist', 'Bioinformatics Scientist',
       'Data Visualization Engineer', 'Quantitative Researcher',
       'AIRS Solutions Specialist', 'Machine Learning Lead',
       'Quantitative Trader', 'Machine Learning Architect', 'QA Engineer',
       'Databricks Engineer', 'Data Integrator',
       'Data Management Professional', 'Quantitative Risk Analyst',
       'AI Data Scientist', 'Business Intelligence', 'QA Tutor Reviewer',
       'Data Team Lead', 'Python Developer', 'Technical Specialist',
       'Machine Learning Specialist', 'Data Management Technician',
       'Power BI Expert', 'Data Governance Specialist', 'AI Product Lead',
       'Director of Data', 'Commercial Counsel', 'Security Researcher',
       'Data Integration Specialist', 'Director of Engineering',
       'DevOps Lead', 'Data & Analytics Specialist',
       'Data Operations Manager', 'Data Operations Analyst',
       'Data Operations Engineer', 'Conversational AI Designer',
       'AI Product Specialist', 'Clinical Aide', 'Web Developer',
       'Data Visualization Lead', 'Systems Administrator',
       'Postdoctoral Research Fellow', 'Data Management Associate',
       'Fraud Data Analyst', 'Admin & Data Analyst', 'Data Engineer 4',
       'AI Governance Lead', 'Power BI', 'Cloud Database Administrator',
       'IT Enterprise Data Architect', 'Copywriter',
       'Principal Statistical Programmer', 'Marketing Science Partner',
       'DataOps Engineer', 'Sales Development Representative',
       'Data Product Lead', 'Data Operator', 'Data Reporter',
       'Bear Robotics', 'Business Intelligence Specialist',
       'Creative Technologist', 'Big Data Developer',
       'Cloud Database Engineer', 'Tableau Developer',
       'Bioinformatics Specialist', 'Computational Scientist',
       'Data Governance Engineer', 'Data Operations Lead',
       'Quantitative Developer', 'AI Content Writer',
       'AI Governance Specialist', 'AI Research Scientist',
       'Data & Analytics Analyst', 'Power BI Administrator',
       'Data Consultant', 'Research Analyst', 'Cheminformatics Scientist',
       'Data Governance Consultant', 'Technical Support Specialist',
       'Cientista de Dados', 'AI Tech Lead', 'System Administrator',
       'AI Strategist', 'AI Solutions Specialist',
       'Enterprise Account Executive', 'Software Development Director',
       'Advanced Data Analyst', 'Head of Machine Learning',
       'AI Engineering Lead', 'Data Reporting Specialist', 'Quant Trader',
       'Integration Specialist', 'Database Administrator',
       'Backend Developer', 'Technical Writer', 'AI Product Owner',
       'Head of Applied AI', 'Salesforce Administrator',
       'Chatbot Developer', 'Cloud Developer',
       'Data Analytics Business Partner', 'Data Quality Expert',
       'BI & Data Analyst', 'Network Engineer', 'Risk Analyst',
       'Cloud Architect', 'Data Scientist Manager', 'Robotics Engineer',
       'Data Management Consultant', 'Stage',
       'Data and Analytics Consultant', 'Alternance', 'Big Data Engineer',
       'LLM Engineer', 'Data Integration Developer', 'Data Archivist',
       'Developer Advocate', 'RPA Developer', 'Research Team Lead',
       'Data Analytics Developer', 'Quant Options Trader',
       'Data Management Expert', 'Scala Spark Developer',
       'Business Intelligence Manager', 'Data Scientist Expert',
       'Customer Success Engineer', 'Data Visualization Designer',
       'Experienced Quantitative Strategist', 'Tech Lead Data',
       'Data and Reporting Analyst', 'AI Programmer',
       'Data Analysis Specialist', 'GenAI Architect',
       'Data Reporting Analyst', 'Data Integrity Analyst',
       'Data Visualization Analyst', 'Lead Data Analysis',
       'Customer Success Manager', 'Actuarial Analyst',
       'AI Data Engineer', 'Technology Integrator',
       'Principal Software Architect', 'Master Data Management',
       'Staff Data Scientist', 'AI Machine Learning Engineer',
       'Lead Analyst', 'Data Analytics Consultant',
       'Data Scientist Associate', 'Clinical Data Operator',
       'Research Data Manager', 'Applied Research Scientist',
       'Lead Data Management', 'Data Integration Analyst',
       'Safety Data Management Specialist', 'Big Data Analyst',
       'Pricing Analyst', 'Lead Data Engineer', 'AI Engineering Manager',
       'Data Management Coordinator', 'Analytics Analyst',
       'Controls Engineer', 'Machine Learning Tech Lead',
       'Business Development Manager', 'Business Insights Manager',
       'Platform Data Engineer',
       'Principal Application Delivery Consultant',
       'Data Governance Architect', 'Power BI Consultant',
       'Backend Software Engineer', 'AI Product Manager',
       'Data Operations Associate', 'ML Infrastructure Engineer',
       'Fullstack Engineer', 'Machine Learning Quality Engineer',
       'Security Engineer', 'Infrastructure Engineer',
       'Machine Learning Performance Engineer',
       'Data Analytics Associate', 'Power BI Architect',
       'Machine Learning Platform Engineer', 'AI Solution Architect',
       'Data Scientist Lead', 'Machine Vision Engineer',
       'Machine Learning Model Engineer', 'Marketing Analyst',
       'Data Management Manager', 'Marketing Analytics Manager',
       'Applied AI ML Lead', 'Data Strategy Manager',
       'Machine Learning Manager', 'Data Product Analyst',
       'Data Quality Manager', 'Elasticsearch Administrator',
       'Machine Learning Infrastructure Engineer', 'People Data Analyst',
       'Frontend Engineer', 'NLP Engineer', 'Data Analytics Team Lead',
       'Machine Learning Modeler', 'Data Integration Coordinator',
       'Head of Business Intelligence', 'ETL Engineer',
       'AI Research Engineer', 'Business Intelligence Consultant',
       'Robotics Software Engineer', 'AI Software Engineer',
       'Lead AI Engineer', 'AI Software Development Engineer',
       'Master Data Specialist', 'Consultant Data Engineer',
       'Manager Data Management', 'Director of Business Intelligence',
       'Lead Data Scientist', 'CRM Data Analyst', 'BI Data Analyst',
       'Applied Data Scientist', 'Data DevOps Engineer',
       'Quantitative Research Analyst', 'Lead Machine Learning Engineer',
       'Machine Learning Research Engineer', 'Data Analyst Lead',
       'Data Pipeline Engineer', 'Lead Data Analyst',
       'Business Data Analyst', 'Marketing Data Scientist',
       'Deep Learning Engineer', 'Financial Data Analyst',
       'Azure Data Engineer', 'Principal Data Scientist',
       'Staff Data Analyst', 'Machine Learning Software Engineer',
       'Applied Machine Learning Scientist',
       'Principal Machine Learning Engineer', 'Principal Data Engineer',
       'Staff Machine Learning Engineer',
       'Business Intelligence Data Analyst', 'Finance Data Analyst',
       'Software Data Engineer', 'Compliance Data Analyst',
       'Cloud Data Engineer', 'Analytics Engineering Manager',
       'AWS Data Architect', 'Product Data Analyst',
       'Autonomous Vehicle Technician', 'Sales Data Analyst',
       'Applied Machine Learning Engineer', 'BI Data Engineer',
       'Deep Learning Researcher', 'Big Data Architect',
       'Computer Vision Software Engineer', 'Marketing Data Engineer',
       'Data Science Tech Lead', 'Marketing Data Analyst',
       'Principal Data Architect', 'Data Analytics Engineer',
       'Cloud Data Architect', 'Principal Data Analyst'], dtype=object)

In [12]:
df['salary'].unique()

array([142000,  87000, 218700, ..., 138350, 423000, 412000], dtype=int64)

In [13]:
df['salary_currency'].unique()

array(['USD', 'GBP', 'CHF', 'EUR', 'SGD', 'CAD', 'CZK', 'INR', 'PLN',
       'NOK', 'MXN', 'PHP', 'JPY', 'HUF', 'AUD', 'TWD', 'BRL', 'ZAR',
       'DKK', 'ILS', 'TRY', 'SEK', 'NZD', 'HKD', 'THB', 'CLP'],
      dtype=object)

In [14]:
df['salary_in_usd'].unique()

array([142000,  87000, 218700, ...,  28369, 412000,  94665], dtype=int64)

In [15]:
df['employee_residence'].unique()

array(['US', 'CA', 'BE', 'GB', 'CH', 'GR', 'SG', 'SK', 'FR', 'NL', 'CZ',
       'NZ', 'AU', 'ES', 'IN', 'PL', 'DE', 'IT', 'AT', 'HR', 'FI', 'PR',
       'AR', 'PT', 'BR', 'LT', 'IE', 'PH', 'RO', 'ML', 'NO', 'CL', 'MY',
       'SV', 'CO', 'DO', 'MX', 'GT', 'CR', 'LV', 'ZA', 'EE', 'EG', 'JO',
       'CY', 'UA', 'TH', 'JM', 'JP', 'MT', 'MK', 'SI', 'HK', 'LS', 'ID',
       'PE', 'HU', 'PA', 'LU', 'DZ', 'KE', 'CD', 'SE', 'KR', 'TW', 'TR',
       'NG', 'DK', 'AE', 'BG', 'RS', 'EC', 'XK', 'ZM', 'AM', 'RW', 'IL',
       'LB', 'PK', 'HN', 'VE', 'BM', 'VN', 'GE', 'SA', 'OM', 'BA', 'UG',
       'MU', 'QA', 'RU', 'TN', 'GH', 'AD', 'MD', 'UZ', 'CF', 'KW', 'IR',
       'AS', 'CN', 'BO', 'IQ', 'JE'], dtype=object)

In [16]:
df['company_location'].unique()

array(['US', 'CA', 'BE', 'GB', 'CH', 'GR', 'SG', 'SK', 'FR', 'NL', 'CZ',
       'NZ', 'AU', 'ES', 'IN', 'PL', 'DE', 'IT', 'AT', 'HR', 'FI', 'PR',
       'AR', 'PT', 'BR', 'LT', 'IE', 'PH', 'RO', 'ML', 'NO', 'CL', 'MY',
       'SV', 'CO', 'DO', 'MX', 'GT', 'CR', 'LV', 'ZA', 'EE', 'EG', 'JO',
       'CY', 'UA', 'TH', 'JM', 'JP', 'MT', 'MK', 'SI', 'HK', 'LS', 'PE',
       'HU', 'PA', 'LU', 'DZ', 'KE', 'CD', 'SE', 'KR', 'TW', 'TR', 'DK',
       'AE', 'BG', 'ID', 'RS', 'EC', 'XK', 'ZM', 'AM', 'IL', 'LB', 'NG',
       'PK', 'HN', 'VE', 'AS', 'SA', 'OM', 'BA', 'VN', 'GI', 'MU', 'RU',
       'QA', 'GH', 'AD', 'CF', 'IR', 'BS', 'IQ', 'CN', 'MD'], dtype=object)

In [17]:
df['company_size'].unique()

array(['M', 'L', 'S'], dtype=object)

In [18]:
df['remote_ratio'].unique()

array([  0, 100,  50], dtype=int64)

In [19]:
#df.to_csv('salaries.csv', index=False)

## Splitting the Data for Predictive Analysis

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X = df.drop(columns=['salary_in_usd'])

In [44]:
y = df['salary_in_usd']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)